@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

body {
	font-family: 'Open Sans', sans-serif;
}
.navbar {
	background-color: inherit;
}

.navbar .collapse {
	justify-content: center;
}

.navbar .navbar-nav .nav-link {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 20px;
}

.navbar  .navbar-nav .nav-link:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	color: #544545;
}

.navbar .navbar-brand img {
	width: 70px;
	height: 80px;
}

.navbar .navbar-toggler {
	background-color: #fff;
	width: 40px;
	height: 40px;
}

.navbar .navbar-toggler-icon {
	display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px -5px;
}

.navbar .dropdown-menu {
	background-color: #e0d9d9;
}


.carousel {
	width: 100%;
	height: 770px;
	overflow: hidden;
}

.carousel-item {
	-webkit-animation: scale 60s infinite;
	        animation: scale 60s infinite;
	-webkit-animation-delay: 0.7s;
	        -o-animation-delay: 0.7s;
	        animation-delay: 0.7s;
}

.carousel-item img {
	width: 100%;
	height: 770px;
	opacity: 0.7;
}

@-webkit-keyframes scale {
    0% {
        display: block;
        -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0.6;
    }

    100% {
        display: block;
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        		opacity: 1;        
    }
}

@keyframes scale {
    0% {
        display: block;
        -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0.6;
    }

    100% {
        display: block;
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        		opacity: 1;     
    }
}

.carousel-caption {
	width: 35%;
	height: 23%;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-bottom: 8%;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 2px 2px 6px #bdbfbd;
}

.carousel-caption h5, .carousel-caption p {
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.carousel-caption h5 {
	font-size: 25px;
	margin: 2.5% 0;
}

.btn-outline-primary {
    color: #fff;
    border-color: #fff;
    font-weight: bold;
}

.btn-outline-primary:hover {
    background-color: #fff;
    border-color: #fff;
    color: #B49882;
}

/*footer*/

footer {
	background-image: url(../images/footer-background-image.jpg);
	padding-top: 50px;
}

.col h4, .col-auto h4  {
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;
	font-weight: bold;
}

footer .col p {
	color: #fff;
	font-size: 15px;
	text-align: justify;
	padding: 0 40px 50px;
	line-height: 30px;
}

.nested > div {
	color: #fff;
	font-size: 15px;
	padding: 0;
}

.nested div:first-child {
	padding: 0 70px 60px 0;
	font-weight: bold;
	text-align: right;
}

.nested div:last-child {
	padding: 0 130px 0 0;
}

.parish-office .nested div {
margin-bottom: 7px;
}

footer .container {
	margin: 0 auto;
	padding: 0;
	max-width: 1550px;
}

footer div[class*="service"] h3 {
	text-transform: uppercase;
	font-weight: bold;
	padding: 50px 0;

}

footer div[class*="service"] h5 {
	font-weight: bold;
		border-bottom: 1px solid #000;
}

footer div[class*="service"] {
	background-color: #fff;
	text-align: center;
	padding: 0 100px 30px;
}

footer div[class*="service"] h6, footer div[class*="service"] p {
	color: #000;
}

footer div[class*="service"] .col-6, footer div[class*="service"] .col-6 p {
	padding: 0 30px;
}

footer div[class*="service"] h5 {
	padding-bottom: 30px;
}

.las {
	border-right: 1px solid #000;
}

footer .footer-bottom {
	background-color: #222222;
}

footer .footer-bottom {
	padding: 20px 0;
}

footer .footer-bottom i, footer .footer-bottom i a {
	color: #fff;
	text-decoration: none;
	padding: 10px;

}

footer .footer-bottom i a:hover, footer .footer-bottom .to-the-top a:hover, footer .footer-bottom i:hover {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

footer .footer-bottom .fa-copyright {
	float: right;
}

footer .footer-bottom .to-the-top a {
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}



@media(max-width: 768px){
	.carousel-item img {
	max-width: 100%;
	height: 400px;
	}
	.navbar .navbar-brand img {
	width: 40px;
	height: 45px;
	}
	footer .container {
		max-width: 330px;
	}
.nested div:last-child {
	padding: 0 60px 0 0;
	}
	footer div[class*="service"] {
	padding: 30px;
}
}