/*font-family: 'Open Sans', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Pacifico', cursive;*/

body {
	font-family: 'Open Sans', sans-serif;
}
.navbar {
	background-color: inherit;
}

.navbar-scroll {
	background-color: #274747;
}

.navbar .collapse {
	justify-content: center;
}

.navbar .navbar-nav .nav-link {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 20px;
}

.navbar .navbar-nav .nav-link-scroll-change {
	color: #DBD9D9;
}

.navbar  .navbar-nav .nav-link:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.navbar .navbar-brand img {
	width: 70px;
	height: 80px;
}

.navbar .navbar-toggler {
	background-color: #fff;
	width: 40px;
	height: 40px;
}

.navbar .navbar-toggler-icon {
	display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px -5px;
}

.navbar .dropdown-menu {
	background-color: #e0d9d9;
}

/*my-jumbotron-carousel*/
.my-jumbotron-carousel .carousel {
	width: 100%;
	height: 770px;
	overflow: hidden;
}

.my-jumbotron-carousel .carousel-item {
	-webkit-animation: scale 60s infinite;
	        animation: scale 60s infinite;
	-webkit-animation-delay: 0.7s;
	        -o-animation-delay: 0.7s;
	        animation-delay: 0.7s;
}

.my-jumbotron-carousel .carousel-item img {
	width: 100%;
	height: 770px;
	opacity: 0.7;
}

@-webkit-keyframes scale {
    0% {
        display: block;
        -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0.6;
    }

    100% {
        display: block;
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        		opacity: 1;        
    }
}

@keyframes scale {
    0% {
        display: block;
        -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0.6;
    }

    100% {
        display: block;
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        		opacity: 1;     
    }
}

.my-jumbotron-carousel .carousel-caption {
	width: 35%;
	height: 18%;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-bottom: 4%;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 2px 2px 6px #000;
}

.my-jumbotron-carousel .carousel-caption h5, .carousel-caption p {
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.my-jumbotron-carousel .carousel-caption h5 {
	font-size: 25px;
	margin: 2.5% 0;
}

/*updates*/

.updates-board {
	font-family: 'Gloria Hallelujah', cursive;
	padding: 70px 0 50px;
	background-image: url('../images/11.jpg');
	background-size: cover;
}

.updates-board h3 {
	text-align: center;
	font-size: 55px;
	padding-bottom: 30px;
	color: #000;
}

.updates-board p, .updates-board h4, .updates-board ul > li {
	font-size: 18px;
	color: #000;
	padding: 20px 80px;
}

.updates-board ul > li {
	margin: 20px 0 20px 80px;
	padding: 0;

}

/*priest-carousel*/

.priests {
	background-image: url('../images/priests-background-image.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.priest-carousel-container {
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
}

.priests blockquote h3 {
	line-height: 40px;
	padding-top: 50px;
	padding: 30px;
	color: #DBD9D9;
	opacity: 0.5;
	font-family: 'Pacifico', cursive;
}

.priest-carousel-container > div {
	width: 250px;
	height: 300px;
}

.priest-container-center {
	flex: 2;
	margin-left: 150px;
}

.priest-container-center .card {
	margin-right: 50px;
}

.priest-container-center .wierusz-center, .priest-container-center .tomaszewski-center {
	display: none;
}

.priest-carousel-container .carousel-item > img {
	width: 150px;
	height: 200px;
	filter: grayscale();
}

/*section parish-figures*/

.parish-figures{
	background-image: url(../images/1.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
}

.parish-figures-container {
	height: 400px;
}

.parish-figures .container div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 25px; 
}

.parish-figures-container div h5 {
	color: #e0e5e3;
	font-weight: bold;
	font-size: 40px;
}

.parish-figures-container div p {
	color: #0093dd;
	font-size: 25px;
	font-weight: bold;
	padding: 4%;
}

.parish-figures-container div:last-child h5 p {
	margin-left: -35%;
}
.parish-figures-container div:nth-child(2) h5 p {
	margin-left: 5%;
}

/*footer*/

footer {
	
	padding-top: 50px;
	background-color: #274747;
}


.col h4  {
	color: #DBD9D9;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;
	font-weight: bold;
	padding: 0 20px 0 0;
}

footer .col p {
	color: #DBD9D9;
	font-size: 15px;
	text-align: justify;
	padding: 0 30px 0 0;
	line-height: 30px;
}

footer .about-us .modal .card-header {
	background-color: #125558;
}

footer .about-us .modal .card-header:hover {
	background-color: #274747;
}

footer .about-us .modal .card-body {
	line-height: 40px;
	padding: 40px;
}

footer .about-us button {
	width: 80%;
	margin: 0 17px 50px;
	background-color: inherit;
	border-color: #DBD9D9;
}

footer .about-us button:hover {
	background-color: #274747;
	border: none;
}

footer .about-us .modal button {
	color: #DBD9D9;
	font-size: 20px;
	border: none;
}

footer .about-us .modal button:hover {
	text-decoration: none;
	color: #fff;
}

.nested > div {
	color: #DBD9D9;
	font-size: 15px;
	padding: 0;
}

.nested div:first-child {
	padding: 0 70px 60px 0;
	font-weight: bold;
	text-align: right;
}

.nested div:last-child {
	padding: 0 60px 0 0;
}

footer .service-time-container {
	margin: 0;
	padding: 0;
	max-width: 1583px;
}


footer div[class*="service"] h3 {
	text-transform: uppercase;
	font-weight: bold;
	padding: 50px 0;

}

footer div[class*="service"] h5 {
	font-weight: bold;
	border-bottom: 1px solid #000;
}

footer div[class*="service"] {
	background-color: #f7f2f2;
	text-align: center;
	padding: 0 100px 30px;
}

footer div[class*="service"] h6, footer div[class*="service"] p {
	color: #000;
}

footer div[class*="service"] .col-6, footer div[class*="service"] .col-6 p {
	padding: 0 30px;
}

footer div[class*="service"] h5 {
	padding-bottom: 30px;
}

footer .footer-bottom {
	background-color: #274747;
	padding: 20px 0;
}

footer .footer-bottom i, footer .footer-bottom i a {
	color: #DBD9D9;
	text-decoration: none;
	padding: 10px;

}

footer .footer-bottom i a:hover, footer .footer-bottom .to-the-top a:hover, footer .footer-bottom i:hover {
	font-weight: bold;
	color: #DBD9D9;
	text-decoration: none;
}

footer .footer-bottom .fa-copyright {
	float: right;
}

footer .footer-bottom .to-the-top a {
	font-weight: normal;
	color: #DBD9D9;
	text-decoration: none;
}

@media(max-width: 768px){
    .my-jumbotron-carousel .carousel-item img {
	max-width: 100%;
	height: 200px;
	}
	.navbar .navbar-brand img {
	width: 40px;
	height: 45px;
	}
	footer div[class*="service"] h3 {
		padding: 0;
		font-size: 18px;
		margin: 0;
	}

	footer div[class*="service"] h5 {
		margin: 0;
		padding: 0;
		font-size: 15px;
	}

	footer div[class*="service"] {
		padding: 0;
	}

	footer div[class*="service"] h6, footer div[class*="service"] p {
		font-size: 14px;
		margin: 0;
	}

	footer div[class*="service"] .col-6, footer div[class*="service"] .col-6 p {
		padding: 0 5px;
	}

	footer div[class*="service"] h5 {
	padding-bottom: 0;
	}
	.col h4 {
		font-size: 18px;
	}

	.nested div:first-child{
		font-size: 12px;
		padding:: 0 50px;
	}
	.nested div:last-child {
	padding: 0 2px 0;
	font-size: 12px;
	}
	footer .address, footer .parish-office {
		padding: 0 40px;
	}

	footer div[class*="service"] {
	padding: 30px;
	}
	footer .about-us button {
		width: 80%;
	}
	footer .col p {
		font-size: 11px;
	}
	

	/*priest-carousel*/

	.priest-carousel-container {
		padding: 0;
	}

	.priests {
		padding-top: 15px;
	}

	.priests h3 {
		line-height: 20px;
		font-size: 15px;
	}

	.priest-carousel-container > div {
		width: 100px;
		height: 200px;
	}

	.priest-container-center {
		display: none;
	}

	.priest-carousel-container .carousel-item > img {
		width: 100%;
		height: 130px;
	}
	/*section parish-figures*/

	.parish-figures{
		height: 200px;
	}

	.parish-figures-container {
		height: 200px;
	}

	.parish-figures .container div {
		padding-left: 10px;
	}

	.parish-figures-container div h5 {
		font-size: 25px;
	}

	.parish-figures-container div p {
		font-size: 10px;
		font-weight: bold;
	}

	.parish-figures-container div:last-child h5 p {
		color: #fff;
		margin-left: -35%;
	}
	.parish-figures-container div:nth-child(2) h5 p {
		margin-left: 5%;
	}
}