body {
	font-family: 'Open Sans', sans-serif;
}

.body-with-background-color {
	background-color: #125558;
}

.navbar {
	background-color: initial;
	z-index: 2;
}

.navbar-scroll {
	background-color: #274747;
}

.navbar .collapse {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.navbar .navbar-nav .nav-link {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 20px;
}

.navbar .navbar-nav .nav-link-scroll-change {
	color: #DBD9D9;
}

.navbar .navbar-nav .nav-link:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.navbar .navbar-brand img {
	width: 70px;
	height: 80px;
}

.navbar .navbar-toggler {
	background-color: #fff;
	width: 40px;
	height: 40px;
}

.navbar .navbar-toggler-icon {
	display: block;
	width: 25px;
	height: 3px;
	background-color: #000;
	margin: 5px -5px;
}

.navbar .dropdown-menu {
	background-color: #e0d9d9;
}

/*my-jumbotron-carousel*/

.my-jumbotron-carousel {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: 1;
}

.my-jumbotron-carousel .carousel {
	width: 100%;
	height: 100vh;
}

.my-jumbotron-carousel .carousel-item {
	-webkit-animation: scale 60s infinite;
	animation: scale 60s infinite;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.my-jumbotron-carousel .carousel-item img {
	width: 100%;
	height: 770px;
	opacity: 0.7;
}

@-webkit-keyframes scale {
	0% {
		display: block;
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0.6;
	}
	100% {
		display: block;
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
		opacity: 1;
	}
}

@keyframes scale {
	0% {
		display: block;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		display: block;
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
}

.my-jumbotron-carousel .carousel-caption {
	width: 35%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-bottom: 4%;
	border-radius: 5px;
	padding: 5px;
	-webkit-box-shadow: 2px 2px 6px #000;
	box-shadow: 2px 2px 6px #000;
}

.my-jumbotron-carousel .carousel-caption h5,
.carousel-caption p {
	font-weight: bold;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
}

.my-jumbotron-carousel .carousel-caption h5 {
	font-size: 25px;
	margin: 2.5% 0;
}

/*updates*/

.updates-board {
	position: relative;
	font-family: 'Gloria Hallelujah', cursive;
	padding: 70px 50px 220px;
	background-image: url('../images/updates-board-background.jpg');
	background-size: cover;
	height: 100vh;
	margin-top: 100vh;
	z-index: 1;
}

.updates-board h3 {
	text-align: center;
	font-size: 55px;
	padding-bottom: 30px;
	color: #000;
}

.updates-board-container {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.hover-style {
	height: 300px;
	overflow: hidden;
	-webkit-transform: perspective(1000px) rotateY(30deg);
	transform: perspective(1000px) rotateY(30deg);
	border: 2px solid grey;
	-webkit-box-shadow: 10px 10px 10px grey;
	box-shadow: 10px 10px 10px grey;
}

.updates-board p,
.updates-board h4 {
	font-size: 18px;
	color: #000;
	padding: 20px 80px;
}

.updates-board ul>li {
	font-size: 18px;
	color: #000;
	margin: 20px 0 20px 80px;
}

.hover-style i {
	font-size: 40px;
	color: orange;
	margin: 20px 150px 0;
	-webkit-transform: perspective(100px) rotateY(29deg) rotateX(-41deg);
	transform: perspective(100px) rotateY(29deg) rotateX(-41deg);
}

.updates-board-container div:nth-child(2) i {
	color: green;
}

.updates-board-container div:nth-child(3) i {
	color: yellow;
}

/*priest-carousel*/

.priests {
	position: relative;
	height: 100vh;
	background-image: url('../images/priests-background-image.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: 2;
}

.section-priests-container {
	margin: 0 auto;
	width: 80vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.section-priests-container>div:nth-child(odd) {
	margin-top: 50px;
	height: 300px;
	width: 250px;
}

.section-priests-container>div:nth-child(even) {
	margin-top: 20px;
	height: 300px;
	width: 700px;
	position: relative;
}

.section-priests-container>div:nth-child(even) p {
	color: whitesmoke;
	text-align: justify;
	position: relative;
}

.section-priests-container>div:nth-child(even) .wierusz-center:before {
	z-index: 1;
	content: ' ';
	width: 60px;
	height: 60px;
	top: 73px;
	left: -41px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	position: absolute;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.section-priests-container>div:nth-child(even) .tomaszewski-center:before {
	right: -36px;
	z-index: 1;
	content: ' ';
	width: 60px;
	height: 60px;
	top: 73px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	position: absolute;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
}

.tomaszewski-center,
.wierusz-center {
	display: none;
}

.priests blockquote h3 {
	line-height: 40px;
	padding: 50px 0 50px 150px;
	color: #fff;
	font-family: 'Pacifico', cursive;
	opacity: 0.8;
}

.section-priests-container .carousel-item>img {
	margin: 0 auto;
	width: 250px;
	height: 300px;
	-webkit-filter: grayscale();
	filter: grayscale();
}

/*section parish-figures*/

.parish-figures {
	position: relative;
	background-image: url(../images/parish-figures-background.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
	z-index: 2;
}

.parish-figures-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 500px;
}

.parish-figures-container div>h5 {
	font-size: 50px;
	color: darkred;
	font-weight: bold;
}

.number-caption {
	font-size: 25px;
	color: blue;
	position: absolute;
}

.area-number-caption {
	-webkit-transform: translate(-16%, -550%);
	    -ms-transform: translate(-16%, -550%);
	        transform: translate(-16%, -550%);
}

.family-number-caption {
	-webkit-transform: translate(717%, -550%);
	    -ms-transform: translate(717%, -550%);
	        transform: translate(717%, -550%);
}

.worship-groups-caption {
	-webkit-transform: translate(432%, -550%);
	    -ms-transform: translate(432%, -550%);
	        transform: translate(432%, -550%);
}

/*footer*/

footer {
	position: relative;
	padding-top: 50px;
	background-color: #274747;
	z-index: 2;
}

.col h4 {
	color: #DBD9D9;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;
	font-weight: bold;
	padding: 0 20px 0 0;
}

footer .col p {
	color: #DBD9D9;
	font-size: 15px;
	text-align: justify;
	padding: 0 30px 0 0;
	line-height: 30px;
}

footer .about-us .modal .card-header {
	background-color: #125558;
}

footer .about-us .modal .card-header:hover {
	background-color: #274747;
}

footer .about-us .modal .card-body {
	line-height: 40px;
	padding: 40px;
}

footer .about-us button {
	width: 80%;
	margin: 0 17px 50px;
	background-color: inherit;
	border-color: #DBD9D9;
}

footer .about-us button:hover {
	background-color: #DBD9D9;
	border-color: #DBD9D9;
	color: #274747;
}

footer .about-us .modal button {
	color: #DBD9D9;
	font-size: 20px;
	border: none;
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
}

footer .about-us .modal button:hover {
	text-decoration: none;
	-webkit-transform: translateX(50px);
	    -ms-transform: translateX(50px);
	        transform: translateX(50px);
	background-color: initial;
}

.modal-backdrop {
	z-index: 0;
}

.nested>div {
	color: #DBD9D9;
	font-size: 15px;
	padding: 0;
}

.nested div:first-child {
	padding: 0 70px 60px 0;
	font-weight: bold;
	text-align: right;
}

.nested div:last-child {
	padding: 0 60px 0 0;
}

footer .service-time-container {
	margin: 0;
	padding: 0;
	max-width: 1583px;
}

footer div[class*="service"] h3 {
	text-transform: uppercase;
	font-weight: bold;
	padding: 50px 0;
}

footer div[class*="service"] h5 {
	font-weight: bold;
	border-bottom: 1px solid #000;
}

footer div[class*="service"] {
	background-color: #f7f2f2;
	text-align: center;
	padding: 0 100px 30px;
}

footer div[class*="service"] h6,
footer div[class*="service"] p {
	color: #000;
}

footer div[class*="service"] .col-6,
footer div[class*="service"] .col-6 p {
	padding: 0 30px;
}

footer div[class*="service"] h5 {
	padding-bottom: 30px;
}

footer .footer-bottom {
	background-color: #274747;
	padding: 0;
}

.footer-bottom .made-by {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 10px;
}

footer .footer-bottom i,
footer .footer-bottom i a {
	color: #DBD9D9;
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
}

footer .footer-bottom a {
	font-family: 'Gloria Hallelujah', cursive;
}

footer .footer-bottom i a:hover {
	font-weight: bold;
	color: #DBD9D9;
}

footer .footer-bottom a i {
	font-size: 60px;
	position: fixed;
	bottom: 20px;
	right: 50px;
	color: darkred;
	z-index: 99;
	cursor: pointer;
	display: none;
}

.bottom-fixed {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
}

/*INTENCJE*/

.white-stripe {
	background-color: #fff;
	width: 100%;
	height: 100px;
	margin-top: 98px;
}

.service-times h3 {
	color: #dbd9d9;
	text-align: center;
	padding: 50px 0;
	margin: 0 auto;
}

.nav-tabs li a {
	color: #dbd9d9;
	padding: 0 45px;
}

nav-tabs .nav-item {
	padding: 0 1px;
}

.table-hover {
	background-color: #274747;
}

.my-table-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding: 30px;
}

.table-image-container {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-right: 20px;
}

.table-responsive-sm {
	-webkit-box-flex: 6;
	-ms-flex: 6;
	flex: 6;
}

.table-image-container img {
	width: 100%;
	height: 170px;
	border-radius: 10px;
}

.table-image-container img:nth-child(2),
.table-image-container img:nth-child(3) {
	display: none;
}

.table th,
.table td {
	color: #dbd9d9;
}

.table th,
.table td {
	border: none;
}

/*end of INTENCJE*/

/*SAKRAMENTY*/

/*scrollspy*/

.white-stripe {
	background-color: #fff;
	width: 100%;
	height: 100px;
	margin-top: 98px;
}

.my-container {
	margin: 0 auto;
	width: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.my-container .list-group {
	margin-top: 50px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: 30px;
}

.list-group-item.active {
	background-color: #274747;
	border-color: #274747;
}

.my-container .scrollspy-example {
	-webkit-box-flex: 4;
	-ms-flex: 4;
	flex: 4;
	position: relative;
	height: 450px;
	overflow-y: scroll;
	padding: 50px 40px 0 30px;
	margin-top: 50px;
}

.my-container .scrollspy-example h4,
.my-container .scrollspy-example p {
	color: #dbd9d9;
	text-align: justify;
	line-height: 30px;
}

.my-container .scrollspy-example h5 {
	color: #dbd9d9;
	padding: 30px 0;
}

.my-container .scrollspy-example h4 {
	padding: 10px 0;
}

.statistics-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 300px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
}

.statistics-container div {
	width: 30px;
	height: 50px;
	border-radius: 10%;
	background-color: #e74c3c;
	margin-left: 8%;
	margin-top: 31%;
	-webkit-transition-duration: 5s;
	-o-transition-duration: 5s;
	transition-duration: 5s;
	color: #dbd9d9;
	text-align: center;
	padding-top: 10px;
}

.statistics-container:hover>.one {
	background-color: green;
	margin-top: 10%;
	height: 215px;
}

.statistics-container:hover>.two {
	background-color: yellow;
	margin-top: 2%;
	height: 280px;
	-webkit-transition-delay: 1s;
	-o-transition-delay: 1s;
	transition-delay: 1s;
}

.statistics-container:hover>.three {
	background-color: blue;
	margin-top: 4%;
	height: 263px;
	-webkit-transition-delay: 2s;
	-o-transition-delay: 2s;
	transition-delay: 2s;
}

.statistics-years span {
	color: #dbd9d9;
	padding-left: 55px;
}

.statistics-years {
	margin-bottom: 100px;
	border-bottom: 1px solid #fff;
}

/*END OF SAKRAMENTY*/

@media(max-width: 768px) {
	.my-jumbotron-carousel .carousel-item img {
		max-width: 100%;
		height: 200px;
	}
	.navbar .navbar-brand img {
		width: 40px;
		height: 45px;
	}
	/*updates*/
	.updates-board {
		margin: 0;
		padding: 20px 0 0;
		height: 550px;
	}
	.updates-board p,
	.updates-board h4 {
		font-size: 13px;
		padding: 20px 10px;
	}
	.updates-board ul>li {
		font-size: 15px;
		margin: 10px 0;
		padding: 0;
	}
	footer div[class*="service"] h3 {
		padding: 0;
		font-size: 18px;
		margin: 0;
	}
	footer div[class*="service"] h5 {
		margin: 0;
		padding: 0;
		font-size: 15px;
	}
	footer div[class*="service"] {
		padding: 0;
	}
	footer div[class*="service"] h6,
	footer div[class*="service"] p {
		font-size: 14px;
		margin: 0;
	}
	footer div[class*="service"] .col-6,
	footer div[class*="service"] .col-6 p {
		padding: 2px 20px;
	}
	footer div[class*="service"] h5 {
		padding-bottom: 0;
	}
	.col h4 {
		font-size: 18px;
	}
	.nested div:first-child {
		font-size: 12px;
		padding: 10px 50px;
	}
	.nested div:last-child {
		padding: 10px 2px 0;
		font-size: 12px;
	}
	footer .address,
	footer .parish-office {
		padding: 20px 40px;
	}
	footer div[class*="service"] {
		padding: 30px;
	}
	footer .about-us button {
		width: 80%;
	}
	footer .col p {
		font-size: 11px;
	}
	.footer-bottom .made-by {
		padding: 10px;
	}
	footer .footer-bottom i,
	footer .footer-bottom i a {
		padding: 7px;
		font-size: 16px;
	}
	footer .footer-bottom a i {
		font-size: 40px;
		position: fixed;
		bottom: 10px;
		right: 5px;
	}
	/*priest-carousel*/
	.section-priests-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 95vw;
	}
	.section-priests-container>div:nth-child(odd) {
		margin-top: 0;
		height: 100px;
		width: 80px;
	}
	.section-priests-container>div:nth-child(even) {
		margin-top: 120px;
		margin-left: -85px;
		height: 90vh;
		width: 95vw;
	}
	.section-priests-container>div:nth-child(even) p {
		color: whitesmoke;
		text-align: justify;
		font-size: 10px;
		width: 95vw;
		position: absolute;
		left: 5px;
	}
	.priests blockquote h3 {
		font-size: 12px;
		line-height: 17px;
		padding: 5px;
	}
	.section-priests-container .carousel-item>img {
		margin: 0 auto;
		width: 80px;
		height: 100px;
	}
	.section-priests-container>div:nth-child(even) .tomaszewski-center:before {
		display: none;
	}
	.section-priests-container>div:nth-child(even) .wierusz-center:before {
		display: none;
	}
	/*section parish-figures*/
	.parish-figures {
		height: 250px;
	}
	.parish-figures-container {
		height: 250px;
	}
	.parish-figures-container div>h5 {
		font-size: 30px;
	}
	.number-caption {
		font-size: 10px;
		font-weight: bold;
		color: darkred;
	}
	.area-number-caption {
		-webkit-transform: translate(-10%, -600%);
		    -ms-transform: translate(-10%, -600%);
		        transform: translate(-10%, -600%);
	}
	.family-number-caption {
		-webkit-transform: translate(440%, -600%);
		    -ms-transform: translate(440%, -600%);
		        transform: translate(440%, -600%);
	}
	.worship-groups-caption {
		-webkit-transform: translate(217%, -600%);
		    -ms-transform: translate(217%, -600%);
		        transform: translate(217%, -600%);
	}
	.parish-figures .number-caption {
		color: white;
		font-size: 12px;
	}
	/*INTENCJE*/
	.white-stripe {
		height: 50px;
	}
	.table-image-container {
		display: none;
	}
	.service-times ul>li:nth-child(5) {
		margin-left: -15px;
	}
	/*SAKRAMENTY*/
	.table-image-container {
		display: none;
	}
	.my-container {
		display: block;
	}
	.footer-bottom {
		position: relative;
		font-size: 12px;
	}
	.my-container .scrollspy-example {
		height: 350px;
	}
	.my-container .scrollspy-example p {
		font-size: 11px;
	}
	.my-container .scrollspy-example h4 {
		font-size: 18px;
	}
	.statistics-container {
		height: 150px;
	}
	.statistics-container:hover>.one {
		height: 130px;
	}
	.statistics-container:hover>.two {
		height: 145px;
	}
	.statistics-container:hover>.three {
		height: 141px;
	}
	.statistics-years span {
		padding-left: 12px;
		font-size: 14px;
	}
}